<launch>
  <node pkg="pimouse_slam" name="keyboard_cmd_vel" type="keyboard_cmd_vel.py" required="true" />

  <node pkg="pimouse_slam" name="origin_motors" type="origin_motors.py" required="true" />
  <node pkg="hls_lfcd_lds_driver" name="hlds_laser_publisher" type="hlds_laser_publisher" required="true" >
        <param name="port" value="/dev/ttyUSB0"/>
        <!-- param name="frame_id" value="base_link"/ -->
        <param name="frame_id" type="string" value="laser"/>
  </node>
  <node pkg="tf" type="static_transform_publisher" name="laser_broadcaster" args="0 0 0.01 0 3.14 3.14 base_link laser 100" />
</launch> 
